@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: crimson;
    color: white;
    padding: 0.5rem 1rem;
    text-align-last: center;
}

.form_tarea{
    display: flex;
    flex-direction: column;
    background: #ededed;
    padding: 1rem;
    gap: 0.5rem;
}
.form_tarea__title{
    font-weight: 500;
}
.form_tarea__row{
    display: flex;
    gap: 1rem;
}
.form_tarea__row input{
    min-width: 200px;
}
.form_tarea__nombre{
    width: 100%;
}
.form_tarea input{
    padding: 0.25rem 0.5rem;
}
.form_tarea textarea{
    padding: 0.5rem;
}
.form_tarea__submit{
    padding: 0.4rem 1rem;
    background: #00ff96;
    font-size: 100%;
    border: none;
    cursor: pointer;
}
.form_tarea__submit:hover{
    filter: brightness(1.25);
    transition: 0.3s;
}

main{
    display: flex;
    flex-direction: column;
}

/* Columnas */
.columns_block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.time_col{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background: #ededed;
    padding: 1rem;
    border-radius: 5px;
}

.time_col__title{
    align-self: center;
    font-size: 200%;
    font-weight: 600;
}

.content_column{
    display: flex;
    flex-direction: column;
}

/* Tareas */
.tarea{
    background: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    filter: drop-shadow(0 0 5px #00000010);
    border-radius: 5px;
    padding: 1rem;
    margin: 2rem 0;
}
/* Estados de Tareas */
.tarea--finalizada{
    background: #f2f2f2;
}
.tarea--finalizada h4{
    text-decoration: line-through;
}
.tarea--on_progress{
    background: #fffc82;
}

.tarea__buttons{
    display: flex;
    gap: 0.5rem;
}
.tarea__btn{
    width: 100%;
    padding: 0.25rem;
    border: none;
    cursor: pointer;
}
.tarea__btn:hover{
    filter: brightness(0.9);
}
.btn__borrar{
    background-color: rgb(206, 43, 32);
    color: white;
}
.tarea__btn--desactivate{
    color: rgb(177, 177, 177);
    background: #f2f2f2;
    pointer-events: none;
}

.delete_block{
    display: flex;
    padding: 1rem;
}
.btn_borrar_todo{
    width: 100%;
    padding: 0.25rem;
    border: none;
    border-radius: 5px;
    font-size: 100%;
    cursor: pointer;
    background-color: #eeeeee;
    color: rgb(206, 43, 32);
}
.btn_borrar_todo:hover{
    filter: brightness(0.9);
}

footer{
    background-color: crimson;
    color: white;
    padding: 2.5rem 1rem;
    text-align-last: center;
    margin: auto 0 0 0;
}
footer p{
    margin-top: 1rem;
}
footer div{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
footer div a img{
    height: 3rem;
    transition: 300ms;
}
footer div a img:hover{
    transform: translateY(-3px);
}

header, footer, form, main{
    opacity: 0;
}