@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Eagle Lake', cursive;
}

#bg-video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    right: 0;
}

#prices-block{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    color: white;
    font-size: 200%;
    filter: drop-shadow(5px 5px 0 #000000);
    text-align: center;
}